$white: #ffffff;
$white-opacity2: rgba(255, 255, 255, 0.2);
$black: #000000;
$black-title: #111111;
$black-text: #333333;
$grey-border: #ececec;
$green: #60a00c;
$green-text: #87aa3c;
$green-menu: #88b13e;
$blue: #99ecfe;

$banner-darkgreen: #658907;
$banner-lightgreen: #a1b902;
$banner-darkorange: #e88c0c;
$banner-lightorange: #feba21;
