$white: #ffffff;
$white-border: #f2f2f2;
$white-opacity2: rgba(255, 255, 255, 0.2);
$white-opacity1: rgba(255, 255, 255, 0.2);
$black: #000000;
$black-bg-modal: rgba(0, 0, 0, 0.5);
$black-title: #111111;
$black-text: #333333;
$black-bg: #2c332c;
$black-footer: #39413a;
$grey: #888888;
$grey-bg: #c4c4c4;
$grey-border: #ececec;
$grey-border-input: #e1e1e1;
$grey-input-bg: #f5f5f5;
$green: #60a00c;
$green-text: #87aa3c;
$green-menu: #88b13e;
$blue: #99ecfe;
$red-sale: #e32d2d;
$blue-new: #3d93e2;
$star-orange: #fda72f;

$blue-bg: #14141465;

$icon-violet: #cc78d9;
$icon-pink: #ff6d83;
$icon-blue: #1ab2c6;
$icon-yellow: #afa925;

$banner-darkgreen: #658907;
$banner-lightgreen: #a1b902;
$banner-darkorange: #e88c0c;
$banner-lightorange: #feba21;

$feature-pink: #fcbbcf;
$footer-pink: #fceee7;

$bread-bg: #d0e2e2;
