
    
    <p class="formatted__address">{{formatted_address}}</p>
    {{#each weekday_text}}<p class="work_hours">{{days}}</p>{{/each}}
    <p class="formatted_phone_number">Phone: {{formatted_phone_number}}</p>
    <p class="rating">rating: <span>{{rating}}</span> </p>