.arrival {
  padding-top: 205px;
  padding-bottom: 70px;

  &__wrapper {
    &_nav {
      width: 100%;
      @include flex-between;
    }
  }

  &__title {
    margin-bottom: 7px;
  }
}

.slick-prev::before,
.slick-next::before {
  background-color: #fff;
  color: $black;
}
