.breadcrumb {
  background-color: $bread-bg;
  padding-top: 60px;
  padding-bottom: 60px;

  @include md {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__path,
  &__link {
    font-family: $jost;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: $black-text;
    text-transform: capitalize;

    & span {
      color: $green;
    }
  }

  &__title {
    text-transform: capitalize;
  }

  & i {
    margin: 0 15px;
  }
}
