.deals {
  background-color: $grey-bg;
  padding-top: 65px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;

  &__products {
    display: flex;
    align-self: center;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);

    &__product:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__time {
    margin-bottom: 285px;
  }
}

.top-heading {
  &__sale {
    margin-bottom: 10px;
  }
  &__title {
    margin-bottom: 10px;
  }
}

.products {
  padding: 30px 0 30px 30px;
  background-color: $white;
  border: 1px solid $white-border;
  box-shadow: 0px 5px 35px rgba(138, 159, 168, 0.2);

  &__product {
    padding-top: 0;
  }
}
