.header {
  &__wrapper {
    // &_slider {
    //   position: relative;
    // }

    &_content {
      position: absolute;
      padding-left: 255px;
      padding-top: 155px;
      z-index: 99;
      top: 0;
    }

    &_categories {
      width: 100%;
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
    }

    &_top {
      background-color: $green-menu;
      opacity: 0.75;
    }

    &_nav {
      background-color: $white;
      opacity: 0.75;
      top: 0;
      z-index: 999;

      box-shadow: 0px 5px 25px rgba(138, 159, 168, 0.25);
    }

    &_slider {
      position: relative;
    }
  }

  &__subtitle {
    margin-bottom: 7px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 33px;
  }
  // &__categories {
  //   position: absolute;
  //   bottom: 0;
  //   transform: translateY(50%);
  // }
}
