@font-face {
    font-family: 'Jost';
    src: url("../fonts/Jost-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'LobsterTwo';
    src: url("../fonts/LobsterTwo-Regular.ttf") format('truetype');
}
