@import "../../node_modules/normalize.css";
@import "assets/colors";
@import "assets/fonts";
@import "elements/button";
@import "elements/card";
@import "elements/categories";
@import "elements/link";
@import "sections/header";
@import "elements/nav";
@import "elements/menu";
@import "elements/slider";
@import "elements/title";
@import "elements/top";
@import "elements/wrapper";
@import "elements/product";
@import "sections/arrival";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
