.copyright {
  &__text {
    font-family: $jost;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: $white;

    @include md {
      margin-bottom: 5px;
      font-size: 14px;
    }
  }

  &__icons i {
    color: $white;
    font-size: 18px;
    transition: all 0.1s;

    &:hover {
      color: $green;
    }
  }

  &__icons a {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__icons {
    @include md {
      align-self: center;
    }
  }
}
