.icon {
  font-family: $icons;
  &-phone_call,
  &-envelope,
  &-lang,
  &-coin {
    margin-right: 8px;
  }

  &-music-ear {
    color: $star-orange;
  }

  &-guitar {
    color: $green;
  }

  &-violin {
    color: $icon-violet;
  }

  &-folk-mandolinom {
    color: $icon-blue;
  }

  &-music-desk {
    color: $icon-pink;
  }

  &-drums {
    color: $icon-yellow;
  }

  &-buttons {
    background: none;
    outline: none;
    border: 0;
  }
}

.fa-phone-volume {
  transform: rotate(-20deg);
}

.fa-angle-down {
  margin-left: 8px;
}
