.icon {
  font-family: $icons;

  &-phone_call,
  &-envelope,
  &-lang,
  &-coin {
    margin-right: 8px;
  }

  &-ecology {
    color: $star-orange;
  }

  &-vegetable {
    color: $green;
  }

  &-overall {
    color: $icon-violet;
  }

  &-field {
    color: $icon-blue;
  }

  &-baby_food {
    color: $icon-pink;
  }

  &-healthy-eating {
    color: $icon-yellow;
  }
}

.fa-phone-volume {
  transform: rotate(-20deg);
}
