.item {
  &__link {
    font-family: $jost;
    font-weight: 500;
    font-size: 16px;
    line-height: 63px;
    color: $black-title;
    &:hover,
    &:active {
      color: $green-text;
      cursor: pointer;
    }
  }

  padding: 0 20px;
  border-bottom: 2px solid transparent;

  @include xxl {
    padding: 0 5px;
  }

  &__shop {
    line-height: 63px;
  }

  &_active {
    border-bottom: 2px solid $green-menu;
    color: $green-text;

    & .link {
      color: $green-menu;
    }
  }

  &_small {
    font-family: $jost;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-align: right;

    &:hover,
    &:active {
      color: $green-text;
      cursor: pointer;
    }

    &_active {
      color: $green-text;
    }
  }

  &:hover {
    cursor: pointer;
    color: $green-menu;
    border-bottom: 2px solid $green-menu;
  }

  & span {
    font-family: $icons;
  }
}

.menu__item:hover .item__link {
  color: $green-text;
  cursor: pointer;
}
