.menu {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style-type: none;

  @include xxl {
    justify-content: space-evenly;
  }

  @include md {
    display: none;
  }
}

.list {
  &__item {
    @include not-last-child {
      margin-right: 20px;
    }
  }

  &_small {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;

    @include md {
      justify-content: space-evenly;
    }
  }

  &__item_small {
    @include not-first-child {
      margin-left: 20px;

      @include md {
        margin-left: 15px;
      }
    }
  }
}
