.menu {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style-type: none;

  &__item {
    @include not-last-child {
      margin-right: 20px;
    }
  }

  &_small {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
  }

  &__item_small {
    @include not-first-child {
      margin-left: 20px;
    }
  }
}
