.product {
  position: relative;
  @include center-flex-column;
  text-align: center;
  margin-right: 30px;
  padding-top: 12px;

  &__img {
    width: 258px;
    height: 258px;
    object-fit: cover;
    margin: 0 auto 16px;
    position: relative;

    &_deals {
      width: 315px;
      height: 316px;
    }
  }

  &__name {
    font-family: $jost;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
  }

  &__price {
    font-family: $jost;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 29px;
  }

  &_sale &__price span {
    font-family: $jost;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-decoration: line-through;
    color: $grey;
  }
  &:hover {
    box-shadow: 0px 5px 25px rgba(138, 159, 168, 0.2);
  }

  &_sale::before {
    content: "-20%";
    position: absolute;
    padding: 0 10px;
    top: 12px;
    z-index: 1;
    transform: translate(-50%, -50%);
    background-color: $red-sale;
    font-family: $jost;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
  }

  &_new::after {
    content: "new";
    position: absolute;
    padding: 0 10px;
    top: 12px;
    z-index: 1;
    transform: translate(-50%, -50%);
    background-color: $blue-new;
    font-family: $jost;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
  }

  &__hover {
    padding: 22px 14px 0 30px;
    position: absolute;
    top: 0;
    height: 100%;
  }

  &_sale_deals::before {
    left: 50%;
  }
  &_new_deals::after {
    left: 50%;
  }

  &_sale_new_deals {
    &::before {
      left: 33%;
    }

    &::after {
      left: 66%;
    }
  }
}

.ratings {
  font-family: $icons;
  color: $star-orange;
}
