.reserve {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 390px;

  @include md {
    width: 300px;
  }

  &__img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-right: 27px;

    @include md {
      margin-right: 10px;
    }
  }

  &__info {
    justify-self: start;
  }

  &__name {
    font-family: $jost;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__count {
    font-family: $jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

    & span {
      font-family: $jost;
      font-size: 15px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;
      color: $green;
    }
  }

  & i {
    text-align: right;
    color: $red-sale;
    font-size: 18px;
  }

  @include not-last-child {
    margin-bottom: 30px;
  }

  &__button {
    background: 0;
    border: 0;

    &:hover {
      cursor: pointer;
    }
  }
}
