.slider {
  &__img {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;

    background-position: center center no-repeat;
    background-size: cover;

    @include md {
      height: 65vh;
    }

    &_1 {
      background-image: linear-gradient($blue-bg 0%, $blue-bg 100%),
        url(../img/violin.jpg);

      @include md {
        background-image: linear-gradient($blue-bg 0%, $blue-bg 100%),
          url(../img/violin_mobile.jpg);
      }
    }

    &_2 {
      background-image: linear-gradient($blue-bg 0%, $blue-bg 100%),
        url(../img/guitar.jpg);

      @include md {
        background-image: linear-gradient($blue-bg 0%, $blue-bg 100%),
          url(../img/guitar_mobile.jpg);
      }
    }

    &_3 {
      background-image: linear-gradient($blue-bg 0%, $blue-bg 100%),
        url(../img/amps.jpg);

      @include md {
        background-image: linear-gradient($blue-bg 0%, $blue-bg 100%),
          url(../img/amps_mobile.jpg);
      }
    }

    &_4 {
      background-image: linear-gradient($blue-bg 0%, $blue-bg 100%),
        url(../img/drums.jpg);

      @include md {
        background-image: linear-gradient($blue-bg 0%, $blue-bg 100%),
          url(../img/drums_mobile.jpg);
      }
    }

    &_5 {
      background-image: linear-gradient($blue-bg 0%, $blue-bg 100%),
        url(../img/mandolin.jpg);

      @include md {
        background-image: linear-gradient($blue-bg 0%, $blue-bg 100%),
          url(../img/mandolin_mobile.jpg);
      }
    }
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  font-size: 0;
  background: none;
  border: 0;
  cursor: pointer;
}

.slick-prev {
  position: absolute;
  left: -50px;

  &::before {
    content: "4";
    font-family: $icons;
    font-size: 30px;
    z-index: 99;
  }
}

.slick-next {
  position: absolute;
  right: -50px;

  &::before {
    content: "5";
    font-family: $icons;
    font-size: 30px;
    z-index: 99;
  }
}

.arrival .slick-slide,
.feature .slick-slide {
  margin: 15px;
}
