.wishlist {
  padding: 136px 30px 60px;
  position: fixed;
  overflow: scroll;
  right: 0;
  transform: translateX(100%);
  background: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  transition: transform 0.5s;

  @include md {
    padding-top: 122px;
  }

  &-open {
    transform: translateX(0);
    pointer-events: initial;
  }

  &__frame {
    overflow: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $black-bg-modal;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;

    &.wishlist-open {
      opacity: 1;
    }
  }

  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  &__top {
    padding-bottom: 30px;

    &::before {
      content: "";
      background-color: $grey-border;
      height: 1px;
      width: 100%;
      position: absolute;
      top: 80px;
      right: 0;
    }
  }

  &__title {
    &_wrap {
      @include flex-between;

      margin-bottom: 50px;
    }
  }
}

.subtotal {
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    background-color: $grey-border;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0;
  }

  &__name {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-family: $jost;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $green;
  }

  &__button {
    font-family: $jost;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 11px;
    background: 0;
    outline: none;
    transition: background-color 0.3s;
    background-color: $black-title;
    border: 1px solid $black-title;
    color: $white;

    &:hover {
      background-color: $green;
      border: 1px solid $green;
      cursor: pointer;
    }
    &:active {
      background: darken($color: $green, $amount: 5);
    }

    &_top {
      margin-bottom: 20px;
      background-color: $white;
      border: 1px solid $black-title;
      color: $black-title;
      &:hover {
        color: $white;
      }
    }
  }
}
